export GOOGLE_API_KEY="AIzaSyBGSEKcT4viHw461E3y5mHGDPTxoxcx-VI"
export SUPERMEMORY_API_KEY="sm_B3nWhpjknuxPPXXYCx5szS_UkLxELKjVkVXOrbvgpVjunGIOHXRUFpLMgJNKbpPPPMYJKTiUeVltOBSeRshaegF"
export REDIS_URL="redis://redis-15565.c82.us-east-1-2.ec2.cloud.redislabs.com:15565"
export kalshi_apiKey="601e90b0-fddc-441e-92bd-fffa89c8c907"
export kalshi_private_key="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAx1GKYU9vzFQuqKKnHJvOnbqqQarF0PAqMD6plL/Fa9dsM26f
yhIWbrgdT81nN7aDQRH4cl8UeqYfz9sEH/jrv2N3B5BxuTcmo/vZ0pA3lB1n5T5u
DzkFwdGhLfW/V8x/pjQzhi8m2oaMq5GuVR/8PGpBOK/Uk6R1WKncJuqW9hdag0w1
8xmU/TGyRTizsXR8+UkttwA+8355nm+BKbsT8Y0z0GrhKPKjnlZljo2bg0w4Kv8r
PNFtLLpbel16jx+nqLouhZiDkLWJITuu/0UnrJn1cjgOLbA7YGVoqN1fo+UJiuam
CLW/HR1gbfFdYZFcND4JR8kK9kE6ezXQyQ/gvwIDAQABAoIBABTgJW4rs7ni10Ay
SO5mIy3B7zMRf8ZyYPjMl1ZM/5Bb76kzXOj9G/xcrDU/fiAHrZeTGkJgUvTFkW9j
sProR0i0UjMoncCYViO2rQmwsSGCMu9/qmdNwZybKBZ4NqIrePMfZIYZSih5DyKp
D2k7AGATgOE/CTStdNzkbXpl94mumRZu9AEJ4Oc9jw9J6Rt+Q1Ct5wJZygYYBEZ/
GsyUtLQZdvOASI0I+30IGSRZg0QZNGO1f02+aOdEZy0gAXyqFbKUyj+8Mnh/bfxC
/R95m1cmafcWDU/SNp9RDVBfVhw/EZxuc7cWHgSem73eEjqFgG6FTSZmGJC1cZAk
chLpP4ECgYEA73I68f/RJuhjM5woOzs9mIo9VCzwuT4JGW9SlgLKJ8aL0JFKdMJi
cPgnYDp/5cHwcZq393WoWTVbrjLPIKdFprk1YH69rdVc94J/rBwZUly026VesP11
cmFBrd0nwg1wNEbG74WvmsixjL3Fp9KIvujg2wA9RSGEND0KpjPjWSsCgYEA1Rkf
MqUwfPU8p/PrKOTuu0xj4UmVU5ZaIsaO2NBuyTqWwaTmFyrVGfVqdtc8kXGHBVYG
pHC4C/86VYCTLUZNFfIcfn32M9dSXBMPzRbWGLcQnvc3e//pY36OEw9D/mx93TEG
pP/40sXtTiaOKsucyxfUsIdGlwghycOdD3SHJL0CgYEAtFPG6LHMBg1FiHy2H8WB
ofuaLGab9CYwHCOmgqsfK81vRmflNwGduY5puSLVZ2cjeasXmRnW6zgwD4TcUK8o
2WLqO/23Q89H8G8rT6bpuwlue2yTX5/Cb52nJRVE9/O+6N/UulZn5Z33eRMCZF09
9ujTTptjiUiwk9bUyk6RjXkCgYEAhZFngqET0V8Nk+BJh6pnELMC79Tlai0VdjKq
mq+aoTq9/8ZSCjdotwqinrauWiOkk+2l4DBey/ZAJBOhLIGiE51bytU9GqVeFCRG
hTBJJdio7FrcRjbTnO9YMg4hejmacqgmGAnxdntlENUNyzkwoAPh5nwD/Oq18vdP
XL6XbqkCgYBDsRucSn0jimKKlsAP4t6Z+1A+zBMvmFLWBYQ+fDY2+O9bZY4E5SOs
zC6dTMHNlnMkbyAhmyjLj3W59cCEyCHBICMy6k0InX1qbJGLNXJSluERK/m500q2
vGPtK1iKV/uzHY7ZSp4U1+qCJ++OJ59LHpMDh5dWhcFROa1gH7CYdw==
-----END RSA PRIVATE KEY-----"